.profile {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.ppicture {
    height: 570px;
    width: 30%;
    position: relative;
}

.short-bio {
    height: 600px;
    border: 1px solid wheat;
    width: auto;
}

.profile-pic {
    height: 500px;
    width: 400px;
    background-color: #00ADB5;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.profile-picture {
    position: absolute;
    margin: auto;
    height: 500px;
    width: 400px;
    margin: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.batch {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 60px;
    width: 400px;
    left: -11px;
}

.batch::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: #00ADB5;
    transform: skew(0deg, 6deg);
    transition: box-shadow 1s;
}

.batch::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #00ADB5;
    transform: skew(0deg, -6deg);
    transition: box-shadow 1s;
}


/* 
.batch-mid {
    background-color: #00ADB5;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    margin-left: 175px;
    bottom: -10px;
    box-shadow: #393E4642 0px 5px, #393E463d 0px 10px, #393E4639 0px 15px, #393E4623 0px 20px, #393E4616 0px 25px;
} */

.batch:hover .batch::before {
    box-shadow: #00acb553 5px 5px, #00acb53d 10px 10px, #00acb539 15px 15px, #00acb523 20px 20px, #00acb516 25px 25px;
}

.batch:hover .batch::after {
    box-shadow: #00acb553 -5px 5px, #00acb53d -10px 10px, #00acb539 -15px 15px, #00acb523 -20px 20px, #00acb516 -25px 25px;
}

.batch span {
    font-size: 3em;
    letter-spacing: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 35px;
    z-index: 2;
}

.iam {
    transform: skew(0, 6deg);
    z-index: 1;
}

.suraj {
    transform: skew(0, -6deg);
}


/* .pp-mask {
    visibility: hidden;
    opacity: 0.5;
} */

.ppicture:hover .profile-picture {
    transition: filter 0.5s;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}