@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');
.profile-intro {
    box-sizing: border-box;
    position: relative;
    margin-top: 0px;
    padding-top: 30px;
    width: 100vw;
    height: 650px;
    top: 0px;
    transform-style: preserve-3d;
    perspective: 700;
    overflow: hidden;
    /* border-bottom: 3px solid var(--var-aqua); */
    /* background-color: var(--var-grey); */
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(49, 34, 34, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 11, 1) 0%, rgba(255, 250, 0, 0) 0%, rgba(43, 46, 52, 1) 72%, rgba(43, 46, 52, 1) 100%);
}

#particles-js {
    position: absolute;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    z-index: -10;
    transition: filter 2s ease-in-out;
    filter: blur(0px);
}

.picture-text-holder {
    position: relative;
    margin: auto;
    background: transparent;
    top: 80px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    transition: transform 0.5s;
}

.text-side {
    display: grid;
    align-items: center;
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    outline: 5px solid var(--var-aqua);
    overflow: hidden;
}

.picture-side {
    position: absolute;
    background: url(../img/profile.jpg) fixed no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    transform: translateZ(-1px);
    z-index: -2;
}

.hemisphere {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    background-color: var(--var-white);
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.hemi-up {
    border-radius: 150px 150px 0 0;
    transform: none;
    top: 0;
    border-right: 20px solid rgba(148, 148, 148, 0.37);
}

.hemi-down {
    border-radius: 0 0 150px 150px;
    transform: none;
    bottom: 0;
    border-right: 20px solid rgba(148, 148, 148, 0.37);
    border-bottom: 20px solid rgba(148, 148, 148, 0.37);
}

.profile-text {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 12px;
    color: var(--var-aqua);
    font-family: 'Emblema One', cursive;
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: -2px -2px 0 var(--var-black), 1px -1px 0 var(--var-black), -1px 1px 0 var(--var-black), 2px 2px 0 var(--var-black);
    z-index: -1;
}

.pText-up {
    bottom: -32px;
}

.pText-down {
    top: -43px;
}

.camera {
    position: relative;
    margin: 30px auto;
    display: block;
    top: 100px;
    height: 40px;
    width: 60px;
    background-color: var(--var-aqua);
    border-radius: 10px;
    border: 2px solid var(--var-aqua);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.201);
    cursor: pointer;
    animation: camera-move 3s infinite alternate;
    transform-origin: center;
}

.camera::before {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: '';
    height: 62.5%;
    width: 41.67%;
    border-radius: 50%;
    outline: 1px solid var(--var-black);
    border: 2px solid var(--var-grey);
    background: var(--shutter-bg, transparent);
    -webkit-background-size: var(--bg-cover, cover);
    -moz-background-size: var(--bg-cover, cover);
    -o-background-size: var(--bg-cover, cover);
    background-size: var(--bg-cover, cover);
    transform-style: preserve-3d;
    transform-origin: center;
}

.camera:hover::before {
    animation: camera-move 3s infinite alternate, shutterround 2s infinite alternate ease-in-out;
}

.camera::after {
    position: absolute;
    right: 10px;
    bottom: 42px;
    display: block;
    content: '';
    height: 12.5%;
    width: 25%;
    transform: rotate(270);
    background: var(--var-aqua);
    animation: var(--animation, none);
    border-top: 2px dashed var(--var-grey);
}

.social-sites {
    position: absolute;
    list-style: none;
    margin: 50px;
    top: 20%;
    text-align: center;
    line-height: 120px;
}

.left-social-sites {
    transform: translateX(-200px);
    transition: transform 1s ease-in-out;
}

.right-social-sites {
    right: 0;
    transform: translateX(200px);
    transition: transform 1s ease-in-out;
}

.icon {
    font-size: 64px;
    transition: color 0.5s ease-in-out;
    color: var(--var-white);
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: rgb(255, 98, 0);
    ;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-github:hover {
    color: white;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

.fa-envelope:hover {
    color: #f8f3b9;
}

@keyframes camera-move {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    1.78571% {
        transform: translate(5px, 0) rotate(10deg);
    }
    3.57143% {
        transform: translate(0, 0) rotate(0deg);
    }
    5.35714% {
        transform: translate(5px, 0) rotate(10deg);
    }
    7.14286% {
        transform: translate(0, 0) rotate(0deg);
    }
    8.92857% {
        transform: translate(5px, 0) rotate(10deg);
    }
    10.71429% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes camera {
    0% {
        height: 5px;
    }
    50% {
        height: 0px;
    }
    100% {
        height: 5px;
    }
}

@keyframes shutterround {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes camera-shake {
    0% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@media screen and (max-width:600px) {
    .profile-intro {
        height: 450px;
        padding-top: 0px;
        transition: height 0.5s, width 0.5s, font-size 0.1;
    }
    .picture-text-holder {
        height: 200px;
        width: 200px;
        top: 100px;
        transition: all 0.5s;
    }
    .profile-text {
        font-size: 40px;
        letter-spacing: 2px;
        text-shadow: -1px -1px 0 var(--var-black), 1px -1px 0 var(--var-black), -1px 1px 0 var(--var-black), 1px 1px 0 var(--var-black);
    }
    .pText-up {
        bottom: -20px;
    }
    .pText-down {
        top: -26px;
    }
    .camera {
        margin: 20px auto;
        height: 35px;
        width: 50px;
        top: 120px;
    }
    .camera::after {
        position: absolute;
        right: 5px;
        bottom: 36px;
        display: block;
        content: '';
        height: 12.5%;
        width: 25%;
        transform: rotate(270);
        background: var(--var-aqua);
        animation: var(--animation, none);
        border-top: 2px dashed var(--var-grey);
    }
    .icon {
        font-size: 48px;
    }
    .social-sites {
        line-height: 80px;
        margin: 30px;
        top: 40%;
    }
}

@media screen and (max-width: 450px) {
    .icon {
        font-size: 36px;
    }
    .social-sites {
        line-height: 60px;
        margin: 25px;
        top: 50%;
    }
}

@media screen and (max-width: 300px) {
    .icon {
        font-size: 28px;
    }
    .social-sites {
        line-height: 60px;
        margin: 20px;
        top: 60%;
    }
}