    @import url('https://fonts.googleapis.com/css2?family=Megrim&family=Scope+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&family=Nixie+One&family=Scope+One&display=swap');
    .bio {
        font-size: 30px;
    }
    
    .bio-title {
        position: relative;
        margin-top: 30px;
        letter-spacing: 2px;
        text-align: center;
        font-family: 'Megrim', cursive;
        font-size: 2em;
        width: max-content;
        margin: auto;
        transition: color 1s ease-in-out, font-size 0.5s;
        overflow: hidden;
        padding: 0px 20px;
    }
    
    #a-rotation {
        display: inline-block;
        color: var(--var-white);
        font-family: 'Megrim', cursive;
        transform-style: preserve-3d;
        transform-origin: center;
        transition: color 1s ease-in-out, font-size 0.5s;
    }
    
    .bio-title span {
        color: var(--var-aqua);
        font-family: 'Scope One', serif;
        font-weight: bolder;
    }
    
    .bio-title span:nth-child(4) {
        display: inline-block;
        transform-style: preserve-3d;
        transform-origin: bottom right;
        animation: waving 1s infinite alternate-reverse;
        /* animation-delay: 1s; */
    }
    
    .bio-title::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: var(--title-line, 0px);
        height: 100%;
        left: 50%;
        bottom: 5px;
        border-bottom: 3px solid var(--var-aqua);
        transition: transform 0.2s ease;
    }
    
    .bio-title::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: var(--title-line, 0px);
        height: 100%;
        right: 50%;
        bottom: 5px;
        border-bottom: 3px solid var(--var-aqua);
        transition: transform 0.2s ease;
    }
    
    .bio-title:hover #a-rotation {
        color: var(--var-aqua);
        animation: a-rotation 1s 1 alternate-reverse ease-in-out;
    }
    
    .bio-describe {
        position: relative;
        height: 700px;
        width: 100vw;
        margin-top: 20px;
        /* background-color: var(--var-aqua); */
    }
    
    .bio-description {
        position: relative;
        margin: 50px auto;
        height: 90%;
        width: 75%;
        background-color: #2425252a;
        backdrop-filter: blur(14px);
        box-sizing: border-box;
        border-radius: 20px;
        font-family: 'Scope One', serif;
        font-size: 24px;
        transition: all 0.5s;
        -webkit-box-shadow: inset 11px 11px 25px 3px rgba(0, 0, 0, 0.51);
        -moz-box-shadow: inset 11px 11px 25px 3px rgba(0, 0, 0, 0.51);
        box-shadow: inset 11px 11px 25px 3px rgba(0, 0, 0, 0.51);
    }
    
    .bio-short-description {
        position: absolute;
        line-height: 60px;
        width: 100%;
        margin: 30px 0px 0px 50px;
    }
    
    .bio-short-description h2 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 3px;
        color: var(--var-grey);
        /* color: rgba(255, 255, 255, 0.4); */
        text-shadow: 2px 2px 2px rgba(57, 57, 57, 0.296), 1px 1px 5px rgba(0, 0, 0, 0.721);
    }
    
    .bio-short-description h2:nth-child(2) {
        text-align: center;
    }
    
    .bio-short-description h2 span {
        color: var(--var-aqua);
        /* color: #ffff; */
    }
    
    .bio-description p {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: justify;
        font-weight: 600;
        background: black;
        background-clip: text;
        -webkit-background-clip: text;
        letter-spacing: 3px;
        /* color: #707377; */
        color: rgb(173, 172, 172);
        /* color: var(--var-aqua); */
        text-shadow: 3px 3px 2px rgb(44, 43, 43), 3px 2px 3px rgba(0, 0, 0, 0.721);
    }
    
    .bio-description p::before {
        content: '';
        display: block;
        position: absolute;
        padding: 15px;
        top: -20px;
        left: -25px;
        height: 50%;
        width: 50%;
        border-top: 3px solid #707377;
        border-left: 3px solid #707377;
        -webkit-box-shadow: inset 7px 7px 6px 0px rgba(0, 0, 0, 0.255);
        -moz-box-shadow: inset 7px 7px 6px 0px rgba(0, 0, 0, 0.255);
        box-shadow: inset 7px 7px 6px 0px rgba(0, 0, 0, 0.255);
        border-top-left-radius: 20px;
    }
    
    .bio-description p::after {
        content: '';
        display: block;
        position: absolute;
        padding: 15px;
        bottom: -20px;
        right: -25px;
        height: 50%;
        width: 50%;
        border-bottom: 3px solid #707377;
        border-right: 3px solid #707377;
        -webkit-box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.255);
        -moz-box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.255);
        box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.255);
        border-bottom-right-radius: 20px;
    }
    
    .bio-description h3 {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 28px;
    }
    
    @keyframes a-rotation {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    @keyframes box-movement {
        0% {
            transform: translate(0);
        }
        10% {
            transform: translate(20px);
        }
        20% {
            transform: translate(0px);
        }
        30% {
            transform: translate(10px);
        }
        50% {
            transform: translate(0px);
        }
        75% {
            transform: translate(0px);
        }
        100% {
            transform: translate(0px);
        }
    }
    
    @keyframes box-transition {
        0% {
            transform: translate(0%);
        }
        100% {
            transform: translate(100%);
        }
    }
    
    @keyframes waving {
        0% {
            transform: rotate(00deg);
        }
        50% {
            transform: rotate(0deg);
        }
        60% {
            transform: rotate(-10deg);
        }
        80% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-10deg);
        }
    }
    
    @media screen and (max-width: 1050px) {
        .bio-description {
            height: 80%;
            width: 85%;
        }
        .bio-description {
            font-size: 19px;
        }
    }
    
    @media screen and (max-width: 930px) {
        .bio-describe {
            height: 650px;
        }
        .bio-description {
            font-size: 19px;
        }
        .bio-short-description {
            font-size: 18px;
            line-height: 50px;
        }
    }
    
    @media screen and (max-width: 775px) {
        .bio-describe {
            height: 600px;
        }
        .bio-description {
            font-size: 16px;
        }
        .bio-short-description {
            margin: 20px 0px 0px 20px;
            font-size: 16px;
            line-height: 50px;
        }
    }
    
    @media screen and (max-width: 675px) {
        .bio-description {
            height: 80%;
            width: 90%;
        }
        .bio-describe {
            height: 600px;
        }
        .bio-description {
            font-size: 16px;
        }
        .bio-short-description {
            margin: 20px 0px 0px 20px;
            font-size: 14px;
            line-height: 40px;
        }
        .bio-description p {
            width: 60%;
        }
    }
    
    @media screen and (max-width: 499px) {
        .bio {
            font-size: 18px;
        }
        .bio-describe {
            height: 650px;
        }
        .bio-short-description {
            margin: 20px 0px 0px 20px;
            font-size: 14px;
            line-height: 30px;
        }
    }
    
    @media screen and (max-width: 450px) {
        .bio {
            font-size: 16px;
        }
        .bio-describe {
            height: 700px;
        }
        .bio-short-description {
            margin: 20px 0px 0px 20px;
            font-size: 14px;
            line-height: 35px;
        }
    }
    
    @media screen and (max-width: 399px) {
        .bio {
            font-size: 16px;
        }
        .bio-describe {
            height: 700px;
        }
        .bio-description {
            font-size: 15px;
        }
        .bio-short-description {
            /* margin: 10px 0px 0px 10px; */
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 40px;
        }
        .bio-description p::before {
            padding: 10px;
            top: -10px;
            left: -15px;
        }
        .bio-description p::after {
            padding: 10px;
            bottom: -10px;
            right: -15px;
        }
    }
    
    @media screen and (max-width: 360px) {
        .bio {
            font-size: 16px;
        }
        .bio-describe {
            height: 750px;
        }
        .bio-description {
            font-size: 15px;
        }
        .bio-description p {
            top: 50%;
        }
        .bio-short-description {
            margin: 10px 0px 0px 20px;
            /* font-size: 14px; */
            /* line-height: 30px; */
        }
    }
    
    @media screen and (max-width: 325px) {
        .bio-describe {
            height: 900px;
        }
        .bio-description {
            font-size: 14px;
        }
        .bio-description p {
            top: 60%;
        }
        .bio-short-description {
            margin: 10px 0px 0px 20px;
            /* font-size: 9px; */
            /* line-height: 20px; */
        }
        .bio-short-description h2:nth-child(2) {
            text-align: left;
        }
        .bio {
            font-size: 12px;
        }
    }
    
    @media screen and (max-width: 260px) {
        .bio-describe {
            height: 1000px;
        }
    }